<section class="section-hero overlay inner-page bg-image" style="background-image: url('/images/hero_1.jpg')"
         id="home-section">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1 class="text-white font-weight-bold">會員中心</h1>
                <div class="custom-breadcrumbs ml-2">
                    <a class="h4 active text-white" asp-area="" asp-controller="Home" asp-action="enterpriseCenter"><strong>返回中心</strong></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- home end -->

<section class="site-section block__18514 pt-4" id="next-section">
    <div class="container h-100" id="appVue">
        <div class="row">
            <!-- Below is sidebar -->
            <div class="col-xs-12 col-md-10 col-lg-4 mt-lg-5">
                <nav class="navbar navbar-expand-lg navbar-light pl-lg-5 py-0">
                    <!-- <a class="navbar-brand" href="#">Liya rescue</a> -->
                    <button class="navbar-toggler mb-2" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto flex-column">
                            <li class="nav-item px-1 mx-1">
                                <div class="head"></div>
                                <div class="mb-3 border navbar-nav box">
                                    <div class="p-3 w-100">
                                        <figure class="figure ml-2">
                                            <img :src="info[0].img"
                                                 class="figure-img img-fuild rounded-circle  w-50  ">
                                            <h3 class="display-6 slide-h3 mt-1">{{info[0].principal}} 您好</h3>
                                        </figure>
                                        <div>手機: {{info[0].contactPhone}}</div>
                                        <div>信箱: {{info[0].email}}</div>
                                        <div class="item text-end align-content-end mb-0">
                                            <div class="text-right mr-3 fw-bold">
                                                <a asp-controller="Home" asp-action="enterpriseDetail">
                                                    修改會員資料 <i class="fa-solid fa-chevron-right"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <hr />
                                        <div>職缺：{{dVan.length}}/{{van.length}}</div>
                                        <div class="d-block text-right">
                                            <div class="text-right mr-3 fw-bold">
                                                <a asp-controller="Home" asp-action="vacancyManage">
                                                    管理所有職缺<i class="fa-solid fa-chevron-right"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <hr />
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item px-1 mx-1" v-for="item in advertiseArray">
                                <div class="head mt-4"></div>
                                <a class="change" :href="'https://localhost:7158/Home/courseDetail?id=' + item.courseId">
                                    <div class="border p-4 box mb-6 h-auto">
                                        <ul class="list-unstyled block__47528 ">
                                            <li><span class="active h2">{{item.courseName}}</span></li>
                                            <figure class="w-100">
                                                <img src="https://picsum.photos/100/100/?random=10" class="float-left mr-3">
                                                <figcaption>
                                                    {{item.courseIntro}}
                                                </figcaption>
                                            </figure>
                                        </ul>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- </div> -->
                </nav>
                <!-- Above is sidebar -->
            </div>
            <div class="col-xs-12 col-md-12 col-lg-8 mt-lg-5">
                <div class="context border  w-100 p-3 mb-4">
                    <div class="item row pt-2">
                        <h2 class="display-5 fw-bolder mb-2 col-6">投遞邀請</h2>
                    </div>
                    <hr>
                    <div v-for="item in datas">
                        <div class="h3">{{item.workName}}</div>
                        <div>{{item.name}}</div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts{

    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.2/axios.min.js"></script>
    <script>
        const webApi = "https://localhost:7240"
        const appVue = new Vue({
            el: "#appVue",
            name: "appVue",
            data: {
                datas: [],
                Id: sessionStorage.getItem("EmpId"),
                status: 2,


                info: [],
                van: [],
                dVan: [],
                advertiseArray: [],
            },
            mounted: function () {
                let _this = this;
                _this.Information();
                  _this.Info();
                _this.advertise();
            },
            methods: {
                Information: function () {
                    let _this = this;
                    axios.get(`${webApi}/api/EnterpriseInterests`, {
                        params: {
                            id: _this.Id,
                            status: _this.status,
                        }
                    }).then(response => {
                        _this.datas = response.data;

                    }).catch(err => console.log(err))
                        .finally(console.log('完成'));
                },
                Info: function () {
                    let _this = this;
                    axios.get(`${webApi}/api/Enterprises/Id${this.Id}`)
                        .then(res => {
                            _this.info = res.data;

                        })
                        .catch(err => console.log(err))
                        .finally(console.log('完成'));

                    axios.get(`${webApi}/api/Vacancies/view`, {
                        params: {
                            id: _this.Id,
                        }
                    })
                        .then(response => {
                            _this.van = response.data;

                            for (var i = 0; i < response.data.length; i++) {

                                if (response.data[i].valid == true) {
                                    _this.dVan.push(response.data[i]);

                                }

                            }

                        })
                        .catch(err => console.log(err))
                        .finally(console.log('完成'));
                },
                advertise: function () {
                    let _this = this;
                    let j;
                    let arr = []
                    sessionStorage.getItem("Id") ? j = 1 : j = 2;
                    axios.get(`${webApi}/api/Courses`)
                        .then(res => {
                            for (i = 0; i < j; i++) {
                                let item = {}
                                item = res.data[_this.random(res.data.length)]
                                item.courseIntro = item.courseIntro.substr(0, 80) + "..."
                                arr.push(item)
                            }
                            _this.advertiseArray = arr
                            console.log(_this.advertiseArray)
                        })
                },
                random(max) {
                    return Math.floor(Math.random() * max);
                },
            },
        });
    </script>
    }
