<!-- HOME start-->
<section class="section-hero overlay inner-page bg-image " style="background-image: url('/images/hero_1-1.jpg');"
         id="home-section">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1 class="text-white font-weight-bold">會員登入</h1>
            </div>
        </div>
    </div>
</section>
<!-- home end -->

<section class="site-section block__18514 pt-4" id="next-section">
    <div class="container h-100 pt-3">
        <div class="row">
            <!-- Below is sidebar -->
            <div class="col-xs-12 col-md-10 col-lg-4">
                <nav class="navbar navbar-expand-lg navbar-light pl-lg-5 py-0">
                    <!-- <a class="navbar-brand" href="#">Liya rescue</a> -->
                    <button class="navbar-toggler mb-2" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto flex-column">
                            <li class="nav-item px-1 mx-1 mb-5">
                                <div class="head "></div>
                                <div class="border p-4 box mb-6 h-auto">
                                    <ul class="list-unstyled block__47528 ">
                                        <li><span class="active h2">廣告</span></li>
                                        <figure class="w-100">
                                            <img src="https://picsum.photos/100/100/?random=10"
                                                 class="float-left mr-3">
                                            <figcaption>
                                                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                                Maxime, corrupti
                                                distinctio dolore repellat corporis nulla consequuntur nostrum
                                                laboriosam
                                                molestiae doloribus perspiciatis totam esse veritatis expedita,
                                                atque dicta,
                                                ullam necessitatibus exercitationem.
                                            </figcaption>
                                        </figure>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item px-1 mx-1">
                                <div class="head mt-4"></div>
                                <div class="border p-4 box mb-6 h-auto">
                                    <ul class="list-unstyled block__47528 ">
                                        <li><span class="active h2">廣告</span></li>
                                        <figure class="w-100">
                                            <img src="https://picsum.photos/100/100/?random=10" class="float-left mr-3">
                                            <figcaption>
                                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime, corrupti
                                                distinctio dolore repellat corporis nulla consequuntur nostrum laboriosam
                                                molestiae doloribus perspiciatis totam esse veritatis expedita, atque dicta,
                                                ullam necessitatibus exercitationem.
                                            </figcaption>
                                        </figure>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- </div> -->
                </nav>
            </div>

            <!-- Above is sidebar -->
            <div class="col-lg-8 mt-lg-0 mt-5  mx-0 box context p-4 h-75">
                <div class="tab-content" id="appVue">
                    <div class="col-lg-8 content mt-3 pt-lg-0 mt-lg-5 pb-2 w-100  mt-1 pl-5">

                        <div class="row form-group ">
                            <h3 class="font-weight-bolder py-3">重設密碼</h3>
                            <div class="col-12 mb-4">
                                <label class="text-body h5" for="fname">新密碼</label>
                                <input type="text" class="form-control col-12" placeholder="請輸入密碼" v-model="Password">
                            </div>
                            <br><br>
                            <div class="col-12 mb-3 mb-md-0">
                                <label class="text-body h5" for="fname">確認新密碼</label>
                                <input type="text" class="form-control col-12" placeholder="請輸入密碼" v-model="Check">
                            </div>
                        </div>
                    </div>
                    <div class="row form-group text-right mr-4">
                        <div class="col-12 w-100">
                            <button class="btn btn-primary px-4 m-2 w-25 " @@click="Reset();">確認</button>
                        </div>


                    </div>
                </div>
            </div>
        </div>
</section>

@section Scripts{

    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.2/axios.min.js"></script>
    <script>
        const webApi = "https://localhost:7240"
        const appVue = new Vue({
            el: "#appVue",
            name: "appVue",
            data: {
                datas: [],
                //求職端
                Password: null,
                Check:null,

            },
            mounted: function () {
                let _this = this;

            },
            methods: {
                Reset: function () {
                    let _this = this;
                    let login = {};
                    var currentUrl = window.location.href;
                    currentUrl = parseInt(currentUrl.split("https://localhost:7158/Home/forgetPassword/")[1]);
                    console.log(currentUrl);
                    if(_this.Check == _this.Password){
                        
                        login.CandidateId = currentUrl;
                    login.Password = _this.Password;
                        axios.put(`${webApi}/api/Candidates/reset${currentUrl}`, login).then(res => {
                        alert(res.data);
                        window.location = "/Home/memberLogin";
                        }).catch(err => console.log(err))
                            .finally(console.log("完成"))
                    }
                    else{
                        alert("密碼輸入錯誤!!")
                    }
                },

               
            },
        })

                //const newVue = new Vue({
                //    el: "#newVue",
                //    name: "newVue",
                //    data: {

                //    },
                //    methods: {

                //    },
                //},
                //        })


    </script>
    }


