
    <!-- 輪播器 -->
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-bs-interval="5000">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="img-fluid" src="/images/carousel_01.jpg" alt="First slide">
                <div class="carousel-caption">
                    <h5>找找工作</h5>
                    <a asp-area="" asp-controller="Home" asp-action="jobList" target="_blank" class="btn ca-btn">Tell me more</a>
                </div>
            </div>
            <div class="carousel-item">
                <img class="img-fluid" src="/images/carousel_02.jpg" alt="Second slide">
                <div class="carousel-caption">
                    <h5>製作履歷</h5>
                    <a asp-area="" asp-controller="Home" asp-action="CV" target="_blank" class="btn ca-btn">Tell me more</a>
                </div>
            </div>
            <div class="carousel-item">
                <img class="img-fluid" src="/images/carousel_03.jpg" alt="Third slide">
                <div class="carousel-caption">
                    <h5>提升自己</h5>
                    <a asp-area="" asp-controller="Home" asp-action="source" target="_blank" class="btn ca-btn">Tell me more</a>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <img src="/images/btn-back.png" alt="">
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <img src="/images/btn-next.png" alt="">
            <span class="sr-only">Next</span>
        </a>
    </div>
    <!-- 輪播器 -->

    <div class="container" style="margin-top:70px">
        <div class="row mb-4 justify-content-center">
            <div class="col-md-7 text-center">
                <h2 class="section-title">行業別</h2>
            </div>
        </div>
        <div class="row text-center mb-3">
            <a href="" id="服務" class="col-12 col-md-6 col-lg-3 mb-2" >
                <div class="index_button d-flex justify-content-center" style="background-image: url('/images/index_category02.jpg');">
                    <h2 class="text-white font-weight-bold align-self-center">服 務 業</h2>
                </div>    
            </a>
            <a href="" id="科技" class="col-12 col-md-6 col-lg-3 mb-2">
                <div class="index_button d-flex justify-content-center" style="background-image: url('/images/index_category03.jpg');">
                    <h2 class="text-white font-weight-bold align-self-center">科  技</h2>
                </div>
            </a>
            <a href="" id="藝文" class="col-12 col-md-6 col-lg-3 mb-2">
                <div class="index_button d-flex justify-content-center" style="background-image: url('/images/index_category01.jpg');">
                    <h2 class="text-white font-weight-bold align-self-center">藝  文</h2>
                </div>
            </a>
            <a href="" id="商業" class="col-12 col-md-6 col-lg-3 mb-2"/>
                <div class="index_button d-flex justify-content-center" style="background-image: url('/images/index_category04.jpg');">
                    <h2 class="text-white font-weight-bold align-self-center">商業金融</h2>
                </div>
            </a>
        </div>

        <hr class="mt-5"/>

        <div class="row justify-content-center mt-5">
            <h2 class="font-weight-bold mb-3">最新工作</h2>
            <div class="container">
                <div id="owl-carousel1" class="owl-carousel owl-theme">
                    @*JQuery生成*@
                </div>
            </div>
        </div>


        <hr />


        <div class="row justify-content-center mt-5">
            <h2 class="font-weight-bold mb-3">推薦課程</h2>
            <div class="container">
                <div class="owl-carousel owl-theme mx-lg-5" id="owl-carousel2">
                    @*JQuery渲染*@
                </div>
            </div>
        </div>


        <hr />





        <section id="internetForum">
            <h2 class="text-center font-weight-bold mt-lg-5 mb-lg-3">論壇熱門</h2>
            <div class="row my-md-5 my-2">
                <div class="col-sm-12 col-lg-6 mb-sm-4 " id="platfrom1">
                    @*JQuery生成*@
                </div>

                <div class="col-lg-6  " id="platfrom2">
                    @*JQuery生成*@
                </div>
            </div>
        </section>
    </div>

    <section id="" style="background-color: #f2f2f2;" class="">
        <div style="height:10px"></div>
        <div class=" mt-5 text-center ">
            <span class="h2 text-black font-weight-bold">諮詢資源</span>
            <div class="text-right w-75"><a href="#" class="btn btn-secondary">詳細資訊...</a></div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-10 mb-4 border mr-xl-5 mr-md-2" style="border-radius: 15px">
                <div class="h4 text-black font-weight-bold mt-3 ml-3">職場轉職體驗</div>
                <hr />
                <div id="article1">
                    @*JQuery生成*@
                </div>
            </div>
            <div class="col-lg-4 col-sm-10 mb-4 border" style="border-radius: 15px">
                <div class="h4 text-black font-weight-bold mt-2">性向測驗揭密</div>
                <hr />
                <div id="article2" class="row mb-3 d-md-flex">
                    @*JQuery生成*@
                </div>
            </div>
        </div>
    </section>

<section class="section-hero overlay inner-page bg-image " style="background-image: url('/images/hero_1.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-md-6 align-self-center text-center text-md-left mb-5 mb-md-0">
                    <h2 class="text-white">Get The Mobile Apps</h2>
                    <p class="mb-5 lead text-white">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit tempora adipisci impedit.
                    </p>
                    <p class="mb-0">
                        <a href="#" class="btn btn-dark btn-md px-4 border-width-2">
                            <span class="icon-apple mr-3"></span>App
                            Store
                        </a>
                        <a href="#" class="btn btn-dark btn-md px-4 border-width-2">
                            <span class="icon-android mr-3"></span>Play
                            Store
                        </a>
                    </p>
                </div>
                <div class="col-md-6 ml-auto align-self-end">
                    <img src="~/images/Triangle_LOGO-removebg-preview.png" alt="Free Website Template by Free-Template.co"
                         class="img-fluid" />
                </div>
            </div>
        </div>
    </section>


@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.2/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <script src="~/js/jquery.easing.1.3.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>

    <script>
        $(document).ready(function () {
            //$("#服務").click(function () {
            //    sessionStorage.setItem("Category", "服務");
            //});

            //$("#藝文").click(function () {
            //    sessionStorage.setItem("Category", "藝文");
            //});

            //$("#科技").click(function () {
            //    sessionStorage.setItem("Category", "科技");
            //});

            //$("#商業").click(function () {
            //    sessionStorage.setItem("Category", "商業");
            //});

            for(i = 0; i < 4; i++){
                let x = document.querySelectorAll('a[class="col-12 col-md-6 col-lg-3 mb-2"]')[i]
                x.href = 'https://localhost:7158/Home/jobList';
                x.addEventListener('click',function(){
                    sessionStorage.setItem("Category", x.id);
                })
            }
            
            // Make an API request using Axios
            axios.get('https://localhost:7240/api/Vacancies')
                .then(response => {
                    let items=[]
                    // Handle the success response
                    for (let i = 0 ; i < 12  ; i ++){
                        let item = {};
                        response.data[i].workContent = "https://localhost:7158/Home/jobSingle?id=" + response.data[i].vacancyId
                        item = response.data[i];
                        items.push(item)
                    }


                    console.log(items)
                    

                    // Loop through the items and create the Owl Carousel items
                    let vacancyItems = '';
                    for (let item of items) {
                        vacancyItems += `
                            <div class="item border">
                            <div class="ml-4 mb-1 mt-2">
                                <span class="mt-3"><i class="fa-solid fa-location-dot"></i>&nbsp;&nbsp;${item.workPlace}</span>
                                <span class="badge rounded-pill bg-primary mx-4 text-white">推薦</span>
                            </div>
                                <div class="h3 ml-3 font-weight-bold text-black mt-2" style="height:110px"><a href="${item.workContent}">${item.workName}</a ></div>
                                <div class="ml-3 text-black" style="height:70px">${item.companyName}</div>
                                <div class="ml-3 text-black" > NT$ ${item.salary} 元/月</div>
                            <hr />
                                <a href="${item.workContent}" class="text-primary align-content-center ml-3 mb-2"> 前往查看 <i class="fa-solid fa-chevron-right"></i></a>
                        </div>
                        `;
                    };


                    // Insert the Owl Carousel items into the container
                    $('#owl-carousel1').html(vacancyItems);

                     //Initialize the Owl Carousel
                    $('#owl-carousel1').owlCarousel({
                        nav:false,
                        loop: true,
                        margin: 15,
                        autoplay:true,
                        responsiveClass: true,
                        responsive: {
                            0: {
                                items: 1,
                                nav: false
                            },
                            768: {
                                items: 2,
                                nav: false
                            },
                            1099: {
                                items: 4,
                                nav: true,
                            }
                        }
                    });

                })
                .catch(error => {
                    // Handle the error response
                    console.error(error);
                });

            axios.get('https://localhost:7240/api/Courses')
                .then(response=>{
                    let items = []
                    // Handle the success response
                    for (let i = 0; i < 9; i++) {
                        let item = {};
                        response.data[i].courseIntro = "https://localhost:7158/Home/courseDetail?id=" + response.data[i].courseId
                        item = response.data[i];
                        items.push(item)
                    }


                    let courseItems = '';
                    for (let item of items) {
                        courseItems += `
                            <div class="item border" style="border-radius: 20px">
                                <a href="${item.courseIntro}"><img style="border-top-left-radius: 20px; border-top-right-radius: 20px" src="${item.courseImg}" /></a>
                                <div class="font-weight-bold text-black h3 mt-2 ml-2" style="height:68px"><a href="${item.courseIntro}">${item.courseName}</a></div>
                                <div class="h6 text-info text-right mr-2 font-weight-bold">NT$ ${item.price} 元</div>
                                <hr />
                                <div class="h6 px-4 mb-3 d-flex">
                                    <img style="border-radius:50%;vertical-align: middle;height:30px;width:30px;background-size:cover" src="${item.teacherImg}"/>&nbsp;&nbsp;&nbsp;
                                    <span class="mt-1">${item.teacherName}</span>
                                    &nbsp;&nbsp;&nbsp;&nbsp;<span class="mt-1">·&nbsp;&nbsp;&nbsp;${item.category}</span>
                                </div>
                            </div>
                            `;
                    };
                    $('#owl-carousel2').html(courseItems);

                    //Initialize the Owl Carousel
                    $('#owl-carousel2').owlCarousel({
                        nav: false,
                        loop: true,
                        margin: 15,
                        autoplay: true,
                        responsiveClass: true,
                        responsive: {
                            0: {
                                items: 1,
                                nav: false
                            },
                            768: {
                                items: 2,
                                nav: false
                            },
                            1099: {
                                items: 3,
                                nav: true,
                            }
                        }
                    });


                }).catch(error => {
                    // Handle the error response
                    console.error(error);
                });

            axios.get('https://localhost:7240/api/Platforms?order=count')
                .then(response => {
                    let topItems = response.data[0]
                    topItems.href = "https://localhost:7158/Home/platformArticle?id=" + response.data[0].articleId;
                    if (topItems.contents.length>162){
                        topItems.contents = topItems.contents.substr(0, 162) + "...";
                    }



                    let topHTML = `
                                <img src = "/images/Triangle_LOGO_jpeg.jpg" class="mb-2 img-fluid" style ="border-radius:15px"/>
                        <h3 class="font-weight-bold"> ${topItems.articleName} </h3>
                        <div>
                            <p class="text-black" style="text-overflow: ellipsis">
                                ${topItems.contents}
                            </p>
                        </div>
                        <div class="text-right pr-2">
                        <i class="fa-sharp fa-solid fa-clock"></i>&nbsp;${topItems.updateTime} &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-comments"></i>
                        <span>${topItems.replyCount}</span>
                        </div>
                    `;
                    $('#platfrom1').html(topHTML);


                    let secondaryItems = []
                    // Handle the success response
                    let item = {}
                    for (let i = 1; i < 5; i++) {
                        item= response.data[i];
                        if (item.contents.length > 88) {
                            item.contents = item.contents.substr(0, 88) + "...";
                        }
                        item.href = "https://localhost:7158/Home/platformArticle?id=" + response.data[i].articleId;
                        secondaryItems.push(item)
                    }
                    
                    let platformsHTML = '';
                    for (let item of secondaryItems) {
                        platformsHTML += `
                            <div>
                                <h4 class="font-weight-bold"><a href="${item.href}">${item.articleName}</a></h4>
                                <div>
                                    <p class="text-black" style="text-overflow: ellipsis">
                                    ${item.contents}
                                    </p>
                                </div>
                                <div class="text-right pr-2">
                                    <i class="fa-sharp fa-solid fa-clock"></i>&nbsp;${item.updateTime} &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-comments"></i>
                                    <span>${item.replyCount}</span>
                                </div>
                            </div>
                            <hr />
                            `;
                    };
                    $('#platfrom2').html(platformsHTML);



                }).catch(error => {
                    // Handle the error response
                    console.error(error);
                });

            axios.get('https://localhost:7240/api/Articles?keyword='+'轉職')
                .then(response => {
                    let items = []
                    // Handle the success response
                    for (let i = 0; i < 2; i++) {
                        let item = {};
                        response.data[i].message = "https://localhost:7158/Home/sourcePage?id=" + response.data[i].articleId
                        item = response.data[i];
                        if (item.articleContent.length>75){
                            item.articleContent = item.articleContent.substr(0, 75)
                        }
                        if(item.title.length>20){
                            item.title = item.title.substr(0, 20) + "...";
                        }
                        items.push(item)
                    }

                    let articleItems = '';
                    for (let item of items) {
                        articleItems += `
                            <div class="row mb-3">
                                <h5 class="ml-3 font-weight-bold"><a href="${item.message}"> ${item.title} </a></h5>
                                <span class="mx-3 text-black">
                                    ${item.articleContent}<a href="${item.message}">...</a>
                                </span>
                            </div>
                            `;
                        };

                    $('#article1').html(articleItems);

                });

            axios.get('https://localhost:7240/api/Articles?keyword=' + '中高齡就業')
                .then(response => {
                    let items = []
                    // Handle the success response
                    for (let i = 0; i < 2; i++) {
                        let item = {};
                        response.data[i].message = "https://localhost:7158/Home/sourcePage?id=" + response.data[i].articleId
                        item = response.data[i];
                        if (item.articleContent.length > 40) {
                            item.articleContent = item.articleContent.substr(0, 40)
                        }
                        if (item.title.length > 20) {
                            item.title = item.title.substr(0, 20) + "...";
                        }
                        items.push(item)
                    }

                    let articleItems = '';
                    for (let item of items) {
                        articleItems += `
                                    <div class="row d-md-flex">
                                        <div class="col-lg-4 col-md-6 col-12 pl-2">
                                            <img src="/images/sq_img_6.jpg" class="col img-fluid" style = "background-size:cover;height:auto;width:auto" />
                                        </div>
                                        <div class="col-lg-8 text-black col-md-6 col-12 pr-4" >
                                            <h5 class="font-weight-bold" > <a href="${item.message}" > ${item.title} </a></h5 >
                                            <p>${item.articleContent}<a href="${item.message}">...</a></p>
                                        </div>
                                    </div>


                                    `;
                    };
                    $('#article2').html(articleItems);

                });
        });


    </script>
}