<!-- HOME start-->
<section class="section-hero overlay inner-page bg-image " style="background-image: url('/images/hero_1-1.jpg');"
         id="home-section">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1 class="text-white font-weight-bold">會員登入</h1>
            </div>
        </div>
    </div>
</section>
<!-- home end -->

<section class="site-section block__18514 pt-4" id="next-section">
    <div class="container h-100 pt-3" id="appVue">
        <div class="row">
            <!-- Below is sidebar -->
            <div class="col-xs-12 col-md-10 col-lg-4">
                <nav class="navbar navbar-expand-lg navbar-light pl-lg-5 py-0">
                    <!-- <a class="navbar-brand" href="#">Liya rescue</a> -->
                    <button class="navbar-toggler mb-2" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto flex-column">
                            <li class="nav-item px-1 mx-1" v-for="item in advertiseArray">
                                <div class="head mt-4"></div>
                                <a class="change" :href="'https://localhost:7158/Home/courseDetail?id=' + item.courseId">
                                    <div class="border p-4 box mb-6 h-auto">
                                        <ul class="list-unstyled block__47528 ">
                                            <li><span class="active h2">{{item.courseName}}</span></li>
                                            <figure class="w-100">
                                                <img src="https://picsum.photos/100/100/?random=10" class="float-left mr-3">
                                                <figcaption>
                                                    {{item.courseIntro}}
                                                </figcaption>
                                            </figure>
                                        </ul>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- </div> -->
                </nav>
            </div>

            <!-- Above is sidebar -->
            <div class="col-lg-8 mt-lg-0 mt-5  mx-0 box context p-4 h-75">
                <ul class="nav nav-tabs row" id="myTab" role="tablist">
                    <li class="nav-item col-6 px-0 " role="presentation">
                        <a class="nav-link active text-center w-100 border-bottom-0" id="candidate-tab" data-toggle="tab" href="#candidate" role="tab" data-bs-target="#candidate" aria-selected="true">求職登入</a>
                    </li>
                    <li class="nav-item  col-6 px-0 " role="presentation">
                        <a class="nav-link text-center w-100 border-bottom-0" id="enterprise-tab" data-toggle="tab" href="#enterprise" role="tab" data-bs-target="#enterprise" aria-selected="true">徵才登入</a>
                    </li>
                </ul>


                <div class="tab-content">
                    <!-- Above is sidebar -->
                    <!-- 求職端 -->

                    <div class="tab-pane fade show active" id="candidate" role="tabpanel">
                        <div class="col-lg-8 content mt-3 pt-lg-0 mt-lg-5 pb-2 w-100  mt-1 pl-5">

                            <div class="row form-group ">
                                <h3 class="font-weight-bolder py-3">求職登入</h3>
                                <div class="col-12 mb-4">
                                    <label class="text-body h5" for="fname">帳號</label>
                                    <input type="text" class="form-control col-12" placeholder="請輸入帳號" v-model="Account">
                                </div>
                                <br><br>
                                <div class="col-12 mb-3 mb-md-0">
                                    <label class="text-body h5" for="fname">密碼</label>
                                    <input type="text" class="form-control col-12" placeholder="請輸入密碼" v-model="Password">
                                </div>
                            </div>
                        </div>
                        <div class="row form-group text-right mr-4">
                            <span class="ml-4 pl-5">
                                <a href="" class="mr-3" data-toggle="modal" data-target="#modal" data-bs-backdrop="false">忘記密碼</a>
                                <a asp-controller="Home" asp-action="memberSignup" class="">註冊會員</a>
                            </span>
                            <div class="col-12 w-100">
                                <input type="submit" value="清除" @@click="mset()" class="btn px-4 slide-button m-2">

                                <button class="btn btn-primary px-4 m-2 " @@click="Signin">登入</button>
                            </div>

                            <form id="email-form">
                                <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">請輸入認證信箱</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <input type="email" placeholder="請輸入認證信箱" class="w-100" v-model="email"></input>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" @@click="emailSet()">取消</button>
                                                <a class="btn btn-primary" data-dismiss="modal" @@click="sendEmail(); ">送出</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>


                    </div>

                    <div class="tab-pane fade show " id="enterprise" role="tabpanel">
                        <div class="col-lg-8 content mt-3 pt-lg-0 mt-lg-5 pb-2 w-100  mt-1 pl-5">

                            <div class="row form-group ">
                                <h3 class="font-weight-bolder py-3">徵才登入</h3>
                                <div class="col-md-12 mb-4">
                                    <label class="text-body h5" for="fname">帳號</label>
                                    <input type="text" class="form-control  col-12" placeholder="請輸入帳號" v-model="EnpAccount">
                                </div>
                                <br><br>
                                <div class="col-md-12 mb-3 mb-md-0">
                                    <label class="text-body h5" for="fname">密碼</label>
                                    <input type="text" class="form-control  col-12" placeholder="請輸入密碼" v-model="EnpPassword">
                                </div>
                            </div>
                        </div>
                        <div class="row form-group text-right mr-4">
                            <span class="ml-4 pl-5">
                                <a href="" class="mr-3">忘記密碼</a>
                                <a asp-controller="Home" asp-action="memberSignup" class="">註冊會員</a>
                            </span>
                            <div class="col-12">
                                <input type="submit" value="清除" @@click="eset()" class="btn px-4 slide-button m-2 ">

                                <button class="btn btn-primary px-4 m-2" @@click="EnpSignin">登入</button>
                            </div>


                        </div>

                    </div>

                </div>
            </div>
        </div>
</section>

@section Scripts{

    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.2/axios.min.js"></script>
    <script type="text/javascript"
        src="~/js/email.min.js"></script>
    <script type="text/javascript">
        emailjs.init('EV6orwiIkEZVyB-qS')
    </script>


    <script>
        const webApi = "https://localhost:7240"
        const appVue = new Vue({
            el: "#appVue",
            name: "appVue",
            data: {
                datas: [],
                Id: null,
                //求職端
                Account: null,
                Password: null,
                //徵才端
                EnpAccount: null,
                EnpPassword: null,

                email: null,
                advertiseArray: [],

            },
            mounted: function () {
                let _this = this;
                _this.advertise();
            },
            methods: {
                emailSet: function () {
                    let _this = this;
                    _this.email = "zxc1545414453@gmail.com"
                },
                mset: function () {
                    let _this = this;
                    _this.Account = "Triangle";
                    _this.Password = "Landajob";
                },
                eset: function () {
                    let _this = this;
                    _this.EnpAccount = "Triangle";
                    _this.EnpPassword = "Landajob";

                },
                Signin: function () {
                    let _this = this;
                    let login = {};
                    login.Id = 0;
                    login.Account = _this.Account;
                    login.Password = _this.Password;
                    axios.post(`${webApi}/api/Candidates/Login`, login)
                        .then(response => {
                            if (response.data.length > 0) {
                                sessionStorage.setItem("Id", response.data[0].candidateId);
                                sessionStorage.setItem("Name", response.data[0].name);
                                _this.datas = response.data[0];
                                console.log(_this.datas);
                                window.location = "/Home/Index";
                            }
                            else {
                                alert("帳號密碼輸入錯誤");
                            }
                        })
                        .catch(err => console.log(err))
                        .finally(console.log(response.data[0]))
                },
                EnpSignin: function () {
                    let _this = this;
                    let login = {};
                    login.Id = 0;
                    login.Account = _this.EnpAccount;
                    login.Password = _this.EnpPassword;
                    axios.post(`${webApi}/api/Enterprises/Login`, login)
                        .then(response => {
                            if (response.data.length > 0) {
                                sessionStorage.setItem("EmpId", response.data[0].enterpriseId);
                                sessionStorage.setItem("Name", response.data[0].principal);
                                window.location = "/Home/Index";
                            }
                            else {
                                alert("帳號密碼輸入錯誤");
                            }
                        })
                        .catch(err => console.log(err))
                        .finally(console.log('完成'))
                },
                sendEmail: function () {
                    let _this = this;
                    let email = _this.email.toString();

                    axios.get(`${webApi}/api/Candidates/email`, {
                        params: {
                            email: email,
                        }
                    })
                        .then(res => {
                            _this.datas = res.data;
                            if (_this.datas.length>0) {
                                console.log(_this.datas);
                                emailjs.send("service_7koyopb", "template_7ww4l0j", {
                                    to_name: _this.datas[0].name,
                                    to_email: email,
                                    message: `https://localhost:7158/Home/forgetPassword/${_this.datas[0].id}`,
                                })
                                    .then(function (response) {
                                        alert("已送出密碼更新信件，請至驗證信箱查看")
                                        console.log("SUCCESS!", response.status, response.text);

                                    }, function (error) {
                                        console.log("FAILED...", error);
                                    });
                            }
                            else {
                                alert("此信箱未被註冊");
                            }
                        })
                        .catch(err => console.log(err))
                        .finally(console.log('完成'));



                    return false;
                },
                advertise: function () {
                    let _this = this;
                    let j;
                    let arr = [];
                    sessionStorage.getItem("Id") ? j = 1 : j = 2;
                    axios.get(`${webApi}/api/Courses`)
                        .then(res => {
                            for (i = 0; i < j; i++) {
                                let item = {}
                                item = res.data[_this.random(res.data.length)]
                                item.courseIntro = item.courseIntro.substr(0, 80) + "..."
                                arr.push(item)
                            }
                            _this.advertiseArray = arr
                            console.log(_this.advertiseArray)
                        })
                },
                random(max) {
                    return Math.floor(Math.random() * max);
                },

            },
        })


    </script>

    }

