<!-- HOME start-->
<section class="section-hero overlay inner-page bg-image " style="background-image: url('/images/hero_1.jpg');"
         id="home-section">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1 class="text-white font-weight-bold">購買清單</h1>
            </div>
        </div>
    </div>
</section>
<!-- home end -->

<div id="printVue">
    <!-- content start -->
    <section class="site-section block__18514 pt-4" id="next-section">
        <div class="container h-100">
            <div class="row">
                <!-- leftslide start -->
                <div class="col-xl-7 col-lg-10 pay-content mt-5 pt-5 pt-lg-0 mt-lg-0 pb-2">
                    <div class="context  w-100 p-3 mb-4">
                        <div class="item row pt-4">
                            <h3 class="display-5 fw-bolder mb-0 col-12 ml-3">確認訂單</h3>
                        </div>
                        <ul class="list-unstyled block__47528 mb-0 ml-4">
                            <div class="row mb-2">
                                <span class=" font-weight-bold col-4">購買人姓名</span>
                                <div class="col-8">
                                    <input type="text" class="useless w-75" name="name" disabled :value="buyerList.name">
                                </div>
                            </div>
                            <div class="row mb-2">
                                <span class=" font-weight-bold col-4">購買人帳號</span>
                                <div class="col-8">
                                    <input type="text" disabled class="useless w-75" name="name" disabled :value="buyerList.account">
                                </div>
                            </div>
                        </ul>
                        <hr />
                        <ul class="list-unstyled block__47528 mb-0 ml-4">
                            <div class="row">
                                <p class="col-lg-4 col-sm-5 col-12 pt-4 pl-5">購買課程</p>
                                <h5 class="font-weight-bold mb-0 col-sm-7 col-12 pt-4 text-right mb-4 pr-4" id="name" :data="courseList.courseName">{{ courseList.courseName }}</h5>
                                <p class="col-lg-4 col-sm-5 col-12 pl-5">單位：新台幣 NT$</p>
                                <p class="font-weight-bold col-sm-7 col-12 text-right lead" id="price">{{ courseList.price }}</p>
                                <div class="justify-content-end d-flex col-11">
                                    <p id="information" class=""></p>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <p class="col-lg-4 col-sm-5 col-12 pl-5">優惠代碼</p>
                                <input type="text" class="useless col-sm-7 col-12" v-model="couponText" @@keydown.enter="coupon" />

                            </div>
                        </ul>
                        <hr style="height:3px; color: #e2e2e2;background-color: #e2e2e2; " />
                        <div class="accordion col-11 justify-content-center" id="accordionExample">
                            <div class="card">
                                <div class="card-header btn-primary" id="headingTwo" style="background-color:#0085ff">
                                    <h2 class="mb-0 ">
                                        <button v-if="yetBuy==true" class="btn btn-block text-left collapsed text-white" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" @@click="insert">
                                            確認訂單
                                        </button>
                                        <button v-else class="btn btn-block text-left collapsed text-white" type="button" aria-expanded="false">
                                            你已經購買此課程
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseTwo" class="collapse pt-3" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="row justify-content-right">
                                            <button onclick="requestPayment()" class="btn text-center"> Line Pay 付款</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- leftslide end -->
            </div>
        </div>
    </section>
    <!-- content end -->
</div>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.2/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <script src="https://www.paypal.com/sdk/js?client-id=Ab4yDn4BMS6wkUCy-BZqqV0fw_NM9UPmGc1IeZsn5N51HjT98IzI5Ha4bXbzX_n4qVPcbsVwJyENYyk3"></script>
    <script>
        const webApi = "https://localhost:7240"
        const printVue = new Vue({
            el: "#printVue", // 綁定位置
            name: "printVue",
            data: {
                courseList: [],
                buyerList:[],
                yetBuy:true,
                couponText: "",
            },
            mounted: function () {
                this.course();
                this.candidate();
                this.buyed();
            },
            methods: {
                course: function () {
                    let courseId = new URL(location.href).searchParams.get('id');
                    axios.get(`${webApi}/api/Courses/${courseId}`)
                        .then(response => {
                            this.courseList = response.data[0];
                            sessionStorage.setItem("price",this.courseList.price)
                        })
                        .catch(err => console.log(err))
                        .finally(console.log('完成'))
                },
                buyed(){
                    let courseId = new URL(location.href).searchParams.get('id');
                    let candidateId = sessionStorage.getItem('Id')
                    let item = {}
                    item.courseId = "";
                    axios.get(`${webApi}/api/Orders/${candidateId}/${courseId}`)
                        .then(response => {
                            item = response.data[0]
                            if (!item.courseId) {
                                this.yetBuy = true;
                            } else {
                                this.yetBuy = false;
                            }
                        })
                        .catch(err => console.log(err));

                },
                candidate(){
                    const candidateId = sessionStorage.getItem('Id')
                    axios.get(`${webApi}/api/Candidates/${candidateId}`)
                        .then(response => {
                            this.buyerList = response.data[0];
                        })
                        .catch(err => console.log(err))
                        .finally(console.log('完成'))
                },
                insert: function () {
                    let candidateId = sessionStorage.getItem('Id')
                    let courseId = new URL(location.href).searchParams.get('id');
                        var items = {
                            "CourseId": this.courseList.courseId,
                            "CourseName": this.courseList.courseName,
                            "CoursePrice": this.courseList.price,
                            "CandidateId": candidateId,
                        };

                        window.name = JSON.stringify(items);


                },
                coupon:function(){
                    let couponNums = this.couponText
                    let temp = sessionStorage.getItem("price")
                    console.log(temp)
                    if (couponNums == "ispan095"){
                        this.courseList.price = parseInt(temp * 0.95)
                        console.log(this.courseList.price)
                        document.getElementById('price').textContent = this.courseList.price
                        document.getElementById('information').textContent = "95折優惠"
                        
                    } else if (couponNums == "ispan100"){
                        this.courseList.price = parseInt(temp - 100)
                        document.getElementById('price').textContent = this.courseList.price
                        document.getElementById('information').textContent = " -100 元 "
                    } else if (couponNums == "") {
                        this.courseList.price = temp
                        document.getElementById('price').textContent = temp
                        document.getElementById('information').textContent = ""
                    }else{
                        this.courseList.price = temp
                        document.getElementById('price').textContent = temp
                        document.getElementById('information').textContent = "輸入錯誤，請重新填寫"
                    }
                },
            },
        })
    </script>
    <script>
        function requestPayment() {
            let baseLoginPayUrl = 'https://localhost:7240/api/LinePay/';
            let name = document.querySelector('#name')
            let itemName = name.getAttribute('data')

            let itemPrice = document.getElementById('price').textContent
            let courseId = new URL(location.href).searchParams.get('id');
            // 交易訂單假資料
            payment = {
                amount: parseInt(itemPrice),
                currency: "TWD",
                orderId: Date.now().toString(), //使用 Timestamp 當作 orderId
                packages: [
                    {
                        id: "2023013112823",
                        amount: parseInt(itemPrice),
                        name: itemName,
                        courseId: courseId,
                        products: [
                            {
                                name: itemName,
                                imageUrl: "https://static.accupass.com/org/2011051025162614811630.jpg",
                                quantity: 1,
                                price: parseInt(itemPrice),
                                courseId: courseId,
                            }
                        ]
                    },
                ],
                RedirectUrls: {
                    ConfirmUrl: " https://db7b-59-125-142-166.jp.ngrok.io/Home/confirm",
                    //CancelUrl: "https://a613-58-115-155-124.jp.ngrok.io/Home/courseDetail?id=" + courseId,
                },
            };

            // 送出 交易申請至商家 server

            $.post({
                url: baseLoginPayUrl + "Create",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify(payment),
                success: (res) => {
                    window.location = res.info.paymentUrl.web;
                },
                error: (err) => {
                    console.log(err);
                }
            })
        }
    </script>
}